{{#resume.basics}}
<section id="contacts">
  <h3>Contacts</h3>
  <section>
    <div class="item">
      <ul>
      <li>
        {{#location}}
          <div class="block">
            {{#if address}}<span class="countryCode">{{countryCode}}</span>{{/if}}
            {{#if city}}<span class="city">{{city}}</span>{{/if}}
            {{#if region}}<span class="region">{{region}}</span>{{/if}}
          </div>
          <div class="block">
            {{#if address}}<span class="address">{{address}}</span>{{/if}}
          </div>
        {{/location}}
      </li>
      <li>
        <div class="block">
          {{#if email}}<span class="email">{{email}}</span>{{/if}}
        </div>
      </li>
      <li>
        <div class="block">
          {{#if phone}}<span class="phone">{{phone}}</span>{{/if}}
        </div>
      </li>
    </ul>
    </div>
  </section>
</section>
{{/resume.basics}}
